@charset "utf-8";

main li {
	width: 6.9rem;
	background: #f3f3f3;
	margin-left: auto;
	margin-right: auto;
	padding-top: .4rem;
	margin-top: .6rem;
	padding-bottom: .67rem;
	border-radius: .4rem;
}

main li h5 {
	font-weight: normal;
	font-size: .32rem;
	color: #313131;
	text-align: center;
}

main li p {
	font-size: .28rem;
	color: #313131;
	width: 6.25rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: .35rem;
	line-height: .5rem;
}

main li a {
	font-size: .3rem;
	margin-top: .35rem;
	color: #ffffff;
	display: block;
	text-align: center;
	width: 6rem;
	height: .8rem;
	line-height: .8rem;
	background: #0192dd;
	border-radius: .5rem;
	margin-left: auto;
	margin-right: auto;
}